In [4]:
import warnings
warnings.simplefilter('ignore')

import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

%matplotlib inline
%config InlineBackend.figure_format = 'svg'

### **Задание на повторение материала
#### 1. Создать одномерный массив Numpy под названием a из 12 последовательных целых чисел чисел от 12 до 24 невключительно

In [27]:
a = np.linspace(12, 23, 12, dtype=int)
a

array([12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23])

#### 2. Создать 5 двумерных массивов разной формы из массива a. Не использовать в аргументах метода reshape число -1.

In [28]:
a1 = a.reshape(2, 6)
a2 = a.reshape(3, 4)
a3 = a.reshape(6, 2)
a4 = a.reshape(1, 12)
a5 = a.reshape(4, 3)

#### 3. Создать 5 двумерных массивов разной формы из массива a. Использовать в аргументах метода reshape число -1 (в трех примерах - для обозначения числа столбцов, в двух - для строк).

In [29]:
a1 = a.reshape(2, -1)
a2 = a.reshape(3, -1)
a3 = a.reshape(6, -1)
a4 = a.reshape(1, -1)
a5 = a.reshape(4, -1)

#### 4. Можно ли массив Numpy, состоящий из одного столбца и 12 строк, назвать одномерным?

In [34]:
b = a.reshape(-1, 1)
print(b)
print(b.shape)
print("Ответ: нет, нельзя")

[[20]
 [18]
 [16]
 [14]
 [12]
 [10]
 [ 8]
 [ 6]
 [ 4]
 [ 2]]
(10, 1)
Ответ: нет, нельзя

#### 5. Создать массив из 3 строк и 4 столбцов, состоящий из случайных чисел с плавающей запятой из нормального распределения со средним, равным 0 и среднеквадратичным отклонением, равным 1.0. Получить из этого массива одномерный массив с таким же атрибутом size, как и исходный массив.

In [ ]:
np.random.seed(5)
x = np.random.randn(30000, 40000)
print(x)
print('x.std: ', x.std())
print('x.mean', x.mean())

#### !!!!!не получается:
"..со средним, равным 0 и среднеквадратичным отклонением, равным 1.0"

In [83]:
barr3x4.describe()

              0         1         2         3
count  3.000000  3.000000  3.000000  3.000000
mean   6.068897  5.444546  5.777761  8.698707
std    3.044276  1.894399  3.239757  0.454982
min    3.597150  4.058082  2.362729  8.413134
25%    4.368664  4.365292  4.262717  8.436365
50%    5.140178  4.672502  6.162704  8.459596
75%    7.304771  6.137778  7.485276  8.841493
max    9.469365  7.603055  8.807849  9.223390

In [80]:
barr3x4 = pd.DataFrame(np.random.randn(3, 4))
barr3x4.describe()
# не получается: "..со средним, равным 0 и среднеквадратичным отклонением, равным 1.0"

              0         1         2         3
count  3.000000  3.000000  3.000000  3.000000
mean   0.061112 -0.510228  0.148301 -0.740737
std    0.711012  0.815779  0.971269  0.886127
min   -0.573440 -1.438510 -0.956205 -1.381262
25%   -0.323106 -0.811608 -0.212105 -1.246382
50%   -0.072772 -0.184707  0.531995 -1.111501
75%    0.378388 -0.046087  0.700554 -0.420475
max    0.829548  0.092533  0.869113  0.270551

#### 6. Создать массив a, состоящий из целых чисел, убывающих от 20 до 0 невключительно с интервалом 2.

In [32]:
a = np.arange(20, 0, -2)
a.size

10

#### 7. Создать массив b, состоящий из 1 строки и 10 столбцов: целых чисел, убывающих от 20 до 1 невключительно с интервалом 2. В чем разница между массивами a и b?

In [24]:
b = a.reshape(-1, 1)

In [26]:
print('a.shape = %s\t\t\t\tb.shape = %s' % (a.shape, b.shape))
print('a.size = %d\t\t\t\tb.size = %d' % (a.size, b.size))
print('a.type = %s\tb.type = %s' % (type(a), type(b)))
print('a == b ? %s' % (a==b))
# массивы одинаковы, странно...

a.shape = (12,)				b.shape = (12, 1)
a.size = 12				b.size = 12
a.type = <class 'numpy.ndarray'>	b.type = <class 'numpy.ndarray'>
a == b ? [[ True False False False False False False False False False False False]
 [False  True False False False False False False False False False False]
 [False False  True False False False False False False False False False]
 [False False False  True False False False False False False False False]
 [False False False False  True False False False False False False False]
 [False False False False False  True False False False False False False]
 [False False False False False False  True False False False False False]
 [False False False False False False False  True False False False False]
 [False False False False False False False False  True False False False]
 [False False False False False False False False False  True False False]
 [False False False False False False False False False False  True False]
 [False False False False False False False False False False False  True]]

#### 8. Вертикально соединить массивы a и b. a - двумерный массив из нулей, число строк которого больше 1 и на 1 меньше, чем число строк двумерного массива b, состоящего из единиц. Итоговый массив v должен иметь атрибут size, равный 10.

##### дальше не успел

9. Создать одномерный массив а, состоящий из последовательности целых чисел от 0 до 12. Поменять форму этого массива, чтобы получилась матрица A (двумерный массив Numpy), состоящая из 4 строк и 3 столбцов. Получить матрицу At путем транспонирования матрицы A. Получить матрицу B, умножив матрицу A на матрицу At с помощью матричного умножения. Какой размер имеет матрица B? Получится ли вычислить обратную матрицу для матрицы B и почему?

10. Инициализируйте генератор случайных числе с помощью объекта seed, равного 42.

11. Создайте одномерный массив c, составленный из последовательности 16-ти случайных равномерно распределенных целых чисел от 0 до 16 невключительно. 

12. Поменяйте его форму так, чтобы получилась квадратная матрица C. Получите матрицу D, поэлементно прибавив матрицу B из предыдущего вопроса к матрице C, умноженной на 10. Вычислите определитель, ранг и обратную матрицу D_inv для D.

13. Приравняйте к нулю отрицательные числа в матрице D_inv, а положительные - к единице. Убедитесь, что в матрице D_inv остались только нули и единицы. С помощью функции numpy.where, используя матрицу D_inv в качестве маски, а матрицы B и C - в качестве источников данных, получите матрицу E размером 4x4.  Элементы матрицы E, для которых соответствующий элемент матрицы D_inv равен 1, должны быть равны соответствующему элементу матрицы B, а элементы матрицы E, для которых соответствующий элемент матрицы D_inv равен 0, должны быть равны соответствующему элементу матрицы C.